@media(min-width: 1000px) {
    #app{
        row-gap: 6vh;
    }
    
    nav{
        align-items: center;
    }

    nav article, nav aside{
        display: block;
    }

    .simbol{
        border: 1px solid var(--green);
        > .lucas{
            border: 2px solid var(--green);
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 8vh;
            width: 8vh;
            transition: .3s;
            color: var(--green);
            font-weight: 700;
            font-size: 26px;
        }
        >.lucas:hover{
            background-color: var(--green);
            color: black;
            border: 2px solid black;
        }

    }
    

    .menu,ul{
        display: flex;
        align-items: center;
        column-gap: 5vh;
    }

    details{
        display: none;
    }

    .menu li{
        border: 2px solid var(--blue);
        border-radius: 25px;
        height: 8vh;
        width: 23vh;
        transition: .3s;
        > .links{
            font-size: 20px;
            color: var(--grey);
            font-weight: 700;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 1vh;
        }
    }

    .menu li:hover{
        border: 2px solid var(--grey);
        cursor: pointer;
    }

    .menu > article{
        border: 2px solid var(--green);
        > a{
            border: 2px solid var(--green);
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 8vh;
            width: 23vh;
            transition: .3s;
            color: var(--green);
            font-weight: 700;
            font-size: 20px;
        }
        > a:hover{
            background-color: var(--green);
            color: black;
            border: 2px solid black;
        }
    }
    main{
        > aside{
            display: none;
        }
        > section{
            display: flex;
            column-gap: 2vh;
            > h1{
                font-size: 50px;
            }
        }
        > article{
            > p{
                width: 70%;
                font-size: 24px;
            }
        }
    }
    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 86%;
        padding-top: 5vh;
        > article{
            display: flex;
            flex-direction: column;
            row-gap: 2vh;
            > h2{
                font-size: 20px;
            }
            > p{
                width: 90%;
                color: var(--grey);
            }
        }
        > section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 1vh;
            width: 30%;
            > h2{
                font-size: 20px;
                color: var(--grey);
            }
            > ul{
                font-size: 20px;
            }
        }
    }
    footer a{
        font-size: 20px;
        
    }
    form{
        row-gap: 2vh;
        >label{
            font-size: 20px;
        }
        > p{
            font-size: 16px;
            width: 100%;
        }
    }
    input[placeholder]{
        font-size: 15px;
    }
    input{
        height: 4vh;
        width: 30vh;
    }
    .button{
        height: 4vh;
        width: 14vh;
        font-size: 18px;
        transition: .3s;
    }
    .button:hover{
        background-color: var(--green);
        cursor: pointer;
        color: black;
        border-bottom: 2px solid black;
    }
}