@media(min-width: 1000px) {
    nav{
        justify-content: space-evenly;
        align-items: center;
        column-gap: 10vh;
    }

    article,aside{
        display: block;
    }

    .simbol{
        border: 1px solid var(--green);
        > a{
            border: 2px solid var(--green);
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 8vh;
            width: 8vh;
            transition: .3s;
            color: var(--green);
            font-weight: 700;
            font-size: 26px;
        }
        >a:hover{
            background-color: var(--green);
            color: black;
            border: 2px solid black;
        }

    }
    

    .menu,ul{
        display: flex;
        align-items: center;
        column-gap: 5vh;
    }

    details{
        display: none;
    }

    .menu li{
        border: 2px solid var(--blue);
        border-radius: 25px;
        height: 8vh;
        width: 23vh;
        transition: .3s;
        > a{
            font-size: 20px;
            color: var(--grey);
            font-weight: 700;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 1vh;
        }
    }

    .menu li:hover{
        border: 2px solid var(--grey);
    }

    .menu > article{
        border: 2px solid var(--green);
        > a{
            border: 2px solid var(--green);
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 8vh;
            width: 23vh;
            transition: .3s;
            color: var(--green);
            font-weight: 700;
            font-size: 20px;
        }
        > a:hover{
            background-color: var(--green);
            color: black;
            border: 2px solid black;
        }
    }
}