@media(min-width: 1000px) {
    #app{
        row-gap: 3vh;
    }

    body{
        padding-top: 3vh;
        padding-bottom: 3vh;
    }
    
    nav{
        align-items: center;
        padding-bottom: 3vh;
    }

    nav article, nav aside{
        display: block;
    }

    .simbol{
        border: 1px solid var(--green);
        > .lucas{
            border: 2px solid var(--green);
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 8vh;
            width: 8vh;
            transition: .3s;
            color: var(--green);
            font-weight: 700;
            font-size: 26px;
        }
        >.lucas:hover{
            background-color: var(--green);
            color: black;
            border: 2px solid black;
        }

    }
    

    .menu,ul{
        display: flex;
        align-items: center;
        column-gap: 5vh;
    }

    details{
        display: none;
    }

    .menu li{
        border: 2px solid var(--blue);
        border-radius: 25px;
        height: 8vh;
        width: 23vh;
        transition: .3s;
        > .links{
            font-size: 20px;
            color: var(--grey);
            font-weight: 700;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 1vh;
        }
    }

    .menu li:hover{
        border: 2px solid var(--grey);
        cursor: pointer;
    }

    .menu > article{
        border: 2px solid var(--green);
        > .resume-link{
            border: 2px solid var(--green);
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 8vh;
            width: 23vh;
            transition: .3s;
            color: var(--green);
            font-weight: 700;
            font-size: 20px;
        }
        > .resume-link:hover{
            background-color: var(--green);
            color: black;
            border: 2px solid black;
        }
    }


    
    .homeMain{
        padding-top: 2vh;
        border-left: 2px solid white;
        border-bottom: 2px solid white;
        border-bottom-left-radius: 10px;
        > aside{
            display: none;
        }
        > section{
            display: flex;
            column-gap: 2vh;
            padding-left: 2vh;
            > h1{
                font-size: 50px;
            }
        }
        > article{
            padding: 2vh;
            > p{
                width: 70%;
                font-size: 24px;
            }
        }
    }

    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 86%;
        padding-top: 8vh;
        > article{
            display: flex;
            flex-direction: column;
            row-gap: 2vh;
            > h2{
                font-size: 20px;
            }
            > p{
                width: 90%;
                color: var(--grey);
            }
        }
        > section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 1vh;
            width: 30%;
            > h2{
                font-size: 20px;
                color: var(--grey);
            }
            > ul{
                font-size: 20px;
            }
        }
    }

    footer a{
        font-size: 20px;
        
    }

    form{
        row-gap: 2vh;
        >label{
            font-size: 20px;
        }
        > p{
            font-size: 16px;
            width: 100%;
        }
    }
    
    input[placeholder]{
        font-size: 15px;
    }

    input{
        height: 4vh;
        width: 30vh;
    }

    .button{
        height: 4vh;
        width: 14vh;
        font-size: 18px;
        transition: .3s;
    }

    .button:hover{
        background-color: var(--green);
        cursor: pointer;
        color: black;
        border-bottom: 2px solid black;
    }
    
    img{
        width: 45%;
        border-radius: 10px;
    }

    .aboutMain{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .first{
        border: 2px solid white;
        border-radius: 10px;
        padding: 2vh;
    }

    .first-1{
        display: flex;
        align-items: center;
        column-gap: 8vh;
        border: 2px solid white;
        border-radius: 10px;
        padding: 2vh;
    }

    .title{
        font-size: 65px;
        font-weight: 800;
        padding-left: 2vh;
    }

    .left{
        color: white;
        width: 50%;
    }

    .resume{
        border:1px solid  white;
        border-radius: 10px;
        width: 86%;
        display: flex;
        flex-direction: column;
        float: left;
    }

    .title-resume{
        padding-left: 2vh;
    }

    .border-resume{
        float: left;
        border: 1px solid white;
        border-radius: 10px;
        width: 95%;
        display: flex;
        flex-direction: column;
    }


    .subtitle{
        font-size: 24px;
        color: var(--grey);
        display: flex;
        align-items: center;
        column-gap: 4vh;
        > p{
            color: var(--green);
        }
    }

    .subtitle > a,p{
        color: var(--grey);
        font-size: 18px;
        border-bottom: 2px solid var(--blue);
        
    }

    

    .subtitle > a:hover{
        border-bottom: 2px solid var(--grey);
    }

    .summary{
        padding-left: 2vh;
        width: 95%;
        display: flex;
        flex-direction: column;
        row-gap: 1vh;
        > h3{
            font-size: 24px;
            color: var(--green);
        }
    }

    .skills{
        display: flex;
        flex-direction: column;
        row-gap: 1vh;
        padding: 2vh;
        > h3{
            font-size: 24px;
            color: var(--green);
        }
    }

    .content{
        display: flex;
        column-gap: 20vh;
    }

    .left-skills, .right-skills{
        display: flex;
        > ul{
            display: flex;
            flex-direction: column;
            justify-content: center;
            row-gap: 1vh;
            align-items: start;
            font-size: 18px;
            color: var(--grey);
        }
    }

    strong{
        color: var(--green);
    }

    .experience{
        padding: 2vh;
        display: flex;
        flex-direction: column;
        row-gap: 3vh;
        > .title-expe{
            display: flex;
            flex-direction: column;
            row-gap: 1vh;
            > h3{
            font-size: 24px;
            color: var(--green);
            }
        }
        > .content-exp{
            > ul{
                display: flex;
                flex-direction: column;
                justify-content: center;
                row-gap: 2vh;
                align-items: start;
                font-size: 18px;
                color: var(--grey);
                > li{
                    border-left: 2px solid var(--green);
                    border-right: 2px solid var(--blue);
                    padding: 1vh;
                    transition: .3s;
                }
                > li:hover{
                    border-right: 2px solid var(--green);
                    cursor: pointer;
                }
            }
        }
    }

    .education{
        padding-left: 2vh;
        display: flex;
        flex-direction: column;
        row-gap: 3vh;
        > h3{
            font-size: 24px;
            color: var(--green);
        }
        > aside{
            display: flex;
            flex-direction: column;
            row-gap: 1vh;
            > strong{
                font-size: 19px;
            }
        }
    }

    .languages{
        padding-left: 2vh;
        display: flex;
        flex-direction: column;
        row-gap: 3vh;
        > h3{
            font-size: 24px;
            color: var(--green);
        }
        > .english,.portuguese{
            display: flex;
            flex-direction: column;
            row-gap: 2vh;
            > strong{
                font-size: 19px;
            }
            > article{
                display: flex;
                column-gap: 2vh;
                > aside{
                    background-color: var(--green);
                    height: 1.5vh;
                    width: 20vh;
                }
                >  .white{
                    background-color: grey;
                }
            }
        }
    }
}