@media(min-width: 200px){
    #app{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 10vh;
    }
    body{
        width: 100%;
        padding-top: 5vh;
        background-color: var(--blue);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .simbol{
        > a{
            border: 2px solid var(--green);
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 8vh;
            width: 8vh;
            transition: .3s;
            color: var(--green);
            font-weight: 700;
            font-size: 26px;
        }
    }
    nav{
       display: flex;
       align-items: center;
       justify-content: center;
       column-gap: 3vh;
       width: 98%;
    }
    nav article, nav aside{
        display: none;
    }
    h1{
        font-size: 30px;
        color: var(--grey);
    }
    summary{
        font-size: 26px;
        color: var(--green);
    }
    main{
        width: 92%;
        display: flex;
        flex-direction: column;
        row-gap: 2vh;
        > section{
            > h1{
                font-size: 42px;
            }
        }
        > article{
            > p{
                font-size: 20px;
                color: var(--grey);
            }
        }
        > aside{
            border: 2px solid var(--green);
            display: flex;
            align-items: center;
            justify-content: center;
            height: 8vh;
            width: 25vh;
            > a{
                border: 2px solid var(--grey);
                display: flex;
                align-items: center;
                justify-content: center;
                width: 90%;
                height: 75%;
                transition: .3s;
                color: var(--green);
                font-weight: 700;
                font-size: 23px;
            }
        }
    }

}